@tailwind base;
@tailwind components;
@tailwind utilities;

html,

a {
  color: green;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

html { height: 100%; }

body { 
  background: #333; 
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { font-size: 20vw; }

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(62, 160, 44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1:hover {
  font-size: 73px;
}